@use '../../sass/globals.scss' as *;

.circlesMobile {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  left: 0;
  top: 0;
}

.circle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.first {
  @extend .circle;
  width: 1107px;
  height: 1107px;
  top: -535px;
  z-index: 5;
  background-color: $color-beta;

  @include wideMobile {
    width: calc(1107px - 100px);
    height: calc(1107px - 100px);
  }

  @include mobile {
    width: 632px;
    height: 632px;
    top: -140px;
  }
}

.second {
  @extend .circle;
  width: 727px;
  height: 727px;
  top: -117px;
  z-index: 4;
  background-color: $color-gamma;

  @include wideMobile {
    width: calc(727px - 100px);
    height: calc(727px - 100px);
  }

  @include mobile {
    width: 415px;
    height: 415px;
    top: 95px;
  }
}

.third {
  @extend .circle;
  width: 927px;
  height: 927px;
  top: -284px;
  z-index: 3;
  background-color: $color-delta;

  @include wideMobile {
    width: calc(927px - 100px);
    height: calc(927px - 100px);
  }

  @include mobile {
    width: 531px;
    height: 531px;
    top: 0px;
  }
}

.forth {
  @extend .circle;
  width: 1447px;
  height: 1447px;
  top: -770px;
  z-index: 2;
  background-color: $color-epsilon;

  @include wideMobile {
    width: calc(1447px - 100px);
    height: calc(1447px - 100px);
  }

  @include mobile {
    width: 828px;
    height: 828px;
    top: -270px;
  }
}
