@use '../../sass/globals.scss' as *;

.home {
  height: 100vh;
  background-color: $color-alpha;
}

.mobileNav {
  display: none;
  @include tablet {
    display: block;
  }
}

.desktopNav {
  display: block;
  height: 100%;
  
  @include tablet {
    display: none;
  }
}
