@use '../../sass/globals.scss' as *;

.home {
  height: 100vh;
  background-color: $color-alpha;
}

.logo {
  margin-bottom: auto;
  top: 0;
  left: 0;
  z-index: 200;
  position: absolute;

  @include tablet {
    left: 50%;
    transform: translateX(-50%);
  } 
}

.mobileNav {
  display: none;
  @include tablet {
    display: block;
  }
}

.desktopNav {
  display: block;
  @include tablet {
    display: none;
  }
}
