@font-face {
  font-family: 'Niks';
  src: url('../../public/font/regular.ttf')  format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Niks';
  src: url('../../public/font/bold.ttf')  format('truetype');
  font-weight: bold;
}
