@use '../../sass/globals.scss' as *;

.mainButton {
  background: $color-alpha;
  border-radius: 9px;
  width: 206px;
  height: 56px;
  outline: none;
  box-shadow: none;
  font-family: Arial, Helvetica, sans-serif;
}
