.sideButton {
  background: none;
  border: 3px solid #62D2EA;
  border-radius: 9px;
  box-shadow: none;
  color: #62D2EA;
  font-size: 20px;
  font-weight: 600;
  outline: none;
  margin: 0 10px;
  height: 66px;
  width: 146px;
}