@use "../../sass/globals.scss" as *; 

.circles {
  position: absolute;
  background-color: $color-alpha;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  left: 0;
  top: 0;
}

.circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.first {
  @extend .circle;
  width: 153.7vh;
  height: 153.7vh;
  left: 30vw;
  border-radius: 50%;
  background-color: $color-beta;
  z-index: 4;
}

.second {
  @extend .circle;
  width: 100.9vh;
  height: 100.9vh;
  left: 26.1vw;
  border-radius: 50%;
  background-color: $color-gamma;
  z-index: 3;
}

.third {
  @extend .circle;
  width: 128.7vh;
  height: 128.7vh;
  left: 24.2vw;
  border-radius: 50%;
  background-color: $color-delta;
  z-index: 2;
}

.forth {
  @extend .circle;
  width: 200.9vh;
  height: 1447vh;
  left: 21vw;
  border-radius: 50%;
  background-color: $color-epsilon;
  z-index: 1;
}
